@model MvcStok.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Satış Yap
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Sales/NewSales/">
                <div class="modal-body">
                    <div>
                        <label>Ürün Adı</label>
                        @Html.DropDownListFor(m => m.TBLURUNLER.ID, (IEnumerable<SelectListItem>)ViewBag.product, new { @class = "form-control" })
                    </div>
                    <br />
                    <div>
                        <label>Müşteri Adı Soyadı</label>
                        @Html.DropDownListFor(m => m.TBLMUSTERILER.ID, (IEnumerable<SelectListItem>)ViewBag.customer, new { @class = "form-control" })
                    </div>
                    <br />
                    <div>
                        <label>Adet</label>
                        @Html.TextBoxFor(a => a.ADET, new { @class = "form-control", required = "required" })
                    </div>
                    <br />
                    <div>
                        <label>Fiyat</label>
                        @Html.TextBoxFor(a => a.FIYAT, new { @class = "form-control", required = "required" })
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-info">Verileri Kaydet</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

